body {
    font-family: 'MedievalSharp';
    margin: auto;
    color: white;
    text-shadow: 0px 0px 0.25ch white;
}

html {
    background: white;
    background: linear-gradient(
        90deg, 
        rgba(215,0,113,0.5) 0%, 
        rgba(215,0,113,0.5) 33%, 
        rgba(156,78,151,0.5) 40%, 
        rgba(156,78,151,0.5) 60%, 
        rgba(0,53,169,0.5) 67%, 
        rgba(0,53,169,0.5) 100%
    );
}

.TabBar {
    background: linear-gradient(
        90deg, 
        rgba(215,0,113,1) 0%, 
        rgba(215,0,113,1) 33%, 
        rgba(156,78,151,1) 40%, 
        rgba(156,78,151,1) 60%, 
        rgba(0,53,169,1) 67%, 
        rgba(0,53,169,1) 100%
    );
}

.TabButton {
    font-family: 'MedievalSharp';
    background-color: white;
    background: linear-gradient(
        90deg, 
        rgba(215,0,113,0.33) 0%, 
        rgba(215,0,113,0.33) 33%, 
        rgba(156,78,151,0.33) 40%, 
        rgba(156,78,151,0.33) 60%, 
        rgba(0,53,169,0.33) 67%, 
        rgba(0,53,169,0.33) 100%
    );
}

.ThemeButton {
    font-family: 'MedievalSharp';
}

div.PlannerContainer {
    background-color: rgba(156,78,151,0.33);
    color: plum;
}

div.DayColumn {
    color: rgba(215,0,113,0.33);
    border-color: rgba(0,53,169,0.33);
    /* background-color: rgba(156,78,151,0.33); */
}

div.DayColumn:hover {
    color: rgba(215,0,113,0.5);
    border-color: rgba(0,53,169,0.5);
    /* background-color: rgba(156,78,151,0.5); */
}