body {
    font-family: Optima, sans-serif;
    margin: auto;
    color: #44624a;
}

.TabBar {
    background-color: #44624a;
}

html {
    background-color: #f1ebe1;
}

.TabButton {
    font-family: Optima, sans-serif;
    background-color: #c0cfb2;
    color: #f1ebe1;
}

.TabButton.hover {
    background-color: #c0cfb2;
    color: #8ba888;
}
.TabButton.active {
    background-color: #8ba888;
}

.ThemeButton {
    font-family: Optima, sans-serif;
    color: #8ba888;
    text-shadow: 0 0 1rem #8ba888;
}

div.PlannerContainer {
    background-color: #c0cfb2;
    color: #44624a;
    box-shadow: #44624a;
}

div.DayColumn {
    background-color: #f1ebe1;
    text-shadow: #8ba888;
    color: #44624a;
}

div.DayColumn:hover {
    text-shadow: #44624a;
    box-shadow: 0px 0px 1rem 0.25rem #44624a;
}
