/* The properties here can be overriden for easy theme creation. */
:root {
  /* Various fill colors */
  --primary-color: lightblue;
  --secondary-color: white;
  --container-background: aliceblue;
  --unselected-tab-and-shadow: lightgray;
  --tab-hover: lightcyan;
  /* Shadow colors */
  --primary-shadow-color: rgba(127, 127, 200, 0.75);
  --secondary-shadow-color: blue;
  /* Fonts */
  --primary-font-family: 'Comic Sans MS';
  --secondary-font-family: 'Lobster Two';
  /* Text Color */
  --primary-text-color: black;
  --secondary-text-color: black;
}

body {
  font-family: var(--primary-font-family);
  margin: auto;
  color: var(--primary-text-color);
  text-shadow: 0 0 0.5rem var(--primary-shadow-color);
  user-select: none;
  -webkit-user-select: none;
}

button:hover {
  transition: ease-in-out 200ms;
}

.TabArea {
  padding-left: 2rem;
  padding-right: 2rem;
}

header {
  max-width: 100%;
}

html {
  background-color: var(--primary-color);
}

.Tab {
  display: none;
}

.TabBar {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: space-between;
}

.TabButton {
  font-family: var(--primary-font-family);
  background-color: var(--unselected-tab-and-shadow);
  min-height: 1.75rem;
  border: 0;
  margin-top: 1rem;
  padding-left: 1ch;
  padding-right: 1ch;
  margin-right: 0.5ch;
  margin-left: 0.5ch;
  min-width: fit-content;
}

.TabButton:hover{
  background-color: var(--tab-hover);
}

.TabButton.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-bottom: 0;
  box-shadow: 0px -3px 2px 0px var(--unselected-tab-and-shadow);
}


.ThemeButton {
  font-family: var(--primary-font-family);
  text-shadow: 0px 0px 1ch var(--primary-shadow-color);
  font-size: medium;
  background-color: rgba(0,0,0,0);
  border: 0;
  color: var(--primary-text-color);
}

div.DayColumn {
  margin-top: 0px;
  position: relative;
  padding: 0.5ch;
  background-color: var(--secondary-color);
  min-height: 50ch;
  word-break: break-all;
  border-style: dotted;
  border-radius: 1rem;  
  transition: ease-in-out 200ms;
  z-index: 1;
  width: 14%;
}

div.DayColumn:hover {
  box-shadow: 0px 0px 1rem 0.25rem var(--primary-shadow-color);
  z-index: 10;
}

div.PlannerContainer {
  font-family: var(--secondary-font-family);
  color: var(--secondary-text-color);
  margin-top: 0px;
  background-color: var(--container-background);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem 0.25rem var(--primary-shadow-color);
  text-shadow: none;
  display: flex;
  justify-content: space-between;
}

div.DayColumn ul {
  list-style-type: circle;
  margin-left: 0;
  padding: 1rem;
}

div.DayColumn h4 {
  margin: 0;
  margin-bottom: 1ch;
  text-align: center;
}

.TaskBox {
  display: flex;
  justify-content: space-between;
}

.TaskContainer {
  margin-top: 0px;
  background-color: var(--container-background);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem 0.25rem var(--primary-shadow-color);
}

.Task {
  margin-top: 0px;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 1rem;
  /* box-shadow: 0px 0px 1rem 0.25rem var(--primary-shadow-color); */
  
}

.Task input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.Task .checkmark {
  min-width: 1.25rem;
  min-height: 1.25rem;
  opacity: 1;
  background-color: white;
}

.Spacer {
  /* display: inline-flex; */
  /* position: relative; */
  flex-grow: 1;
}