body {
  font-family: 'Comic Sans MS';
  margin: auto;
  color: black;
}

.TabArea {
  max-width: 90%;
  padding-left: 2rem;
  padding-right: 2rem;
}

header {
  max-width: 100%;
}

html {
  background-color: lightblue;
}

.Tab {
  display: none;
}

.TabBar {
  background-color: white;
}

.TabButton {
  font-family: "Comic Sans MS";
  background-color: lightgray;
  min-height: 1.75rem;
  border: 0;
  margin-top: 1rem;
  padding-left: 1ch;
  padding-right: 1ch;
  min-width: fit-content;
}

.TabButton:hover{
  background-color: lightcyan;
}

.TabButton.active {
  background-color: lightblue;
  color: white;
  margin-bottom: 0;
  box-shadow: 0px -3px 2px 0px lightgray;
}

.TabButton.special {
  background-color: pink;
}

.TabButton.special:hover {
  background-color: lightpink;
}